:root {
  --primary-light-background: #dddddd;
  --secondary-light-background: #ffffff;

  --primary-dark-background: #272727;
  --secondary-dark-background: #1a202c;

  --primary-background: var(--primary-light-background);
  --secondary-background: var(--secondary-light-background);
  --text-color: var(--secondary-dark-background);
  --text-color-hover: var(--primary-dark-background);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
